* {
    font-family: "Poppins", sans-serif;
    margin: 0;
  }
  
  /* Page */
  
  /* Profile */
  .page {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
  }
  
  button {
    padding: 0.5em 2.5em;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
    background: #e0e0e0;
    color: white;
    border: none;
    border-radius: 0.6em;
  }
  
  #btn {
    text-align: center;
    display: flex;
    width: 30rem;
    padding-left: 55rem;
    flex-direction: column;
  }
  
  .container {
    display: flex;
    justify-content: center;
    padding: 6rem;
  }
  
  .userprofile {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: #e0e0e0;
    width: 50px;
  }
  
  .userprof {
    margin: 10rem;
  }
  
  form {
    display: grid;
    width: 40%;
  }
  
  form .simpan {
    width: 5rem;
    padding: 0.4rem 0;
    background-color: #264466;
  }
  
  .btnContainer {
    text-align: right;
  }
  
  input {
    border: none;
    border-bottom: 2px solid black;
    height: 1rem;
  }
  
  input:focus {
    outline: none;
  }
  
  /* Penomoran */
  .table-container {
    margin-left: 10rem;
  }
  .table-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4rem;
    margin-right: 5rem;
  }
  
  .btn-page {
    display: flex;
    justify-content: space-between;
    margin-right: 4rem;
  }
  
  th {
    background-color: rgb(85, 85, 85);
    color: #fff;
    font-weight: 400;
    padding: 10px;
  }
  
  td {
    background-color: rgb(206, 206, 206);
    padding: 10px;
    font-size: 12px;
  }
  
  .iconpage {
    text-align: center;
    justify-content: center;
    cursor: pointer;
  }
  
  #btnsurat1 {
    background-color: aqua;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
  }

  #btnsurat2 {
    background-color: salmon;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
  }
  
  #btnsurat3 {
    background-color: greenyellow;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
  }

  #btnsurat1 a {
    color: #000;
  }
  
  #btnsurat2 a {
    color: #000;
  }
  
  #btnsurat3 a {
    color: #000;
  }

  button {
    color: #000;
  }

  /* Dropdown */

  /* Style for the dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Style for the dropdown button */
  .dropdown button {
    background-color: #e0e0e0;
    color: #000;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* Style for the arrow icon */
  .dropdown button::after {
    content: "\25BC"; /* HTML entity for downward-pointing triangle */
    margin-left: 5px;
  }

  /* Style for the dropdown content (the options) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }

  /* Style for the dropdown content items (list items) */
  .dropdown-content li {
    color: #fff;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }

  /* Style for the dropdown content items on hover */
  .dropdown-content li:hover {
    color: #000;
  }
  
  /* Search */
  
  .searchbutton {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    top: 58%;
    left: 10rem;
    transform: translateY(-50%);
  }
  
  .searchbtn {
    margin-top: 2rem;
    border: none;
    outline: none;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 15px;
  }
  
  /* Page */
  

  .titlefilter, .buttonfilter {
    display: inline-block;
    vertical-align: middle;
  }
  
  .titlefilter {
    margin-right: 10px; /* Atur jarak antara judul dan tombol */
    margin-left: 10px; /* Atur jarak antara judul dan tombol */
  }

  .buttonfilter {
    margin-top: 15px;
  }